# Use a tool called @vercel/ncc to compile your code and modules into one file used for distribution.
# https://docs.github.com/en/actions/creating-actions/creating-a-javascript-action
node_modules/*
